<div class="container-fluid">
  <div class="row">
    <div class="col-auto ml-1 mt-2">
      <h3 style="border-left: 4px solid #000;">おすすめ投稿</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex align-content-start flex-wrap mt-4">
        <% @trainings.each do |training| %>
        <div class="mx-2 my-4">
          <%=link_to user_path(training.user.id)do %>
          <%= attachment_image_tag training, :post_image, size:'180x180', fallback: "no_photo.png", size:'180x180' %>
          <% end %>
          <div class="my-1 mx-auto">名前：<%= training.user.name %></div>
          <%= link_to "投稿詳細", training_path(training) %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>