<% if user.errors.any? %>
  <span class="red"><%= user.errors.count %>件のエラーが発生しました</span>
  <% user.errors.full_messages.each do |message| %>
  <span class="red"><%= message %></span>
  <% end %>
<% end %>