<div class="container-fluid">
  <div class="row">
    <div class="col-auto ml-1 mt-2">
      <h3 class="title-solid">ユーザー検索</h3>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="search mx-auto">
      <%= form_with model: User.new, method: :get, class: "search__form" do |f| %>
        <%= f.text_field :keyword, required: true, class: "search__form__input searchTerm" %>
        <%#= f.submit "", class: "searchButton fas fa-search-plus" %>
        <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
        </button>
      <% end %>
    </div>
  </div>
  <div id="index">
      <%= render 'users/index', users: @users %>
  </div>
</div>
