<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>投稿ユーザー</th>
          <th>いいね数</th>
          <th>コメント数</th>
          <th>詳細</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td>
           
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>