<div class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto text-center my-3">
      <h2>トレーニングのメリットとは</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mx-auto text-center my-3">
    <p>
      トレーニングをする事で得られるメリットはたくさんあります<br>
      今回はその中から4つ紹介したいと思います
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      
    </div>
  </div>
</div>
