// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "UTF-8";

.img-wrap {
  overflow: hidden;
  position: relative;
  background-position: center; 
}

.img-wrap:before,
.img-wrap:after {
  animation: 2s cubic-bezier(.4, 0, .2, 1) forwards;
  background: #fff;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: 1;
}

.img-wrap:before {
  animation-name: img-wrap-before;
  top: 0;
  bottom: 50%;
}

.img-wrap:after {
  animation-name: img-wrap-after;
  top: 50%;
  bottom: 0;
}

.img p {
  position: absolute;/*絶対配置*/
  top: 80%;
  left: 50%;
  }

@keyframes img-wrap-before {
  100% {
    transform: translateX(100%);
  }
}

@keyframes img-wrap-after {
  100% {
    transform: translateX(-100%);
  }
}

//-------------animaition----------------------
.top {
  font-family: serif;
  background-color: #333;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

theader {
  padding: 50px;
}

@keyframes tittleAnimation {
  0% {
    letter-spacing: 3em;
    opacity: 0;
  }
}

theader h1 {
  font-family: 'Bangers', cursive;
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 60px;
  white-space: nowrap; //改行させない
  opacity: 0;
}

tmain {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
}

ul {
  list-style: none;
}

.contents li {
  position: relative;
  // opacity: 0;
  // transform: translateY(50px);
  // transition: 1s;
}

// .contents li.show {
//   opacity: 1;
//   transform: none;
// }

main theader h1.show {
  animation: tittleAnimation 2.5s;
  opacity: 1;
  text-align: right;
}

.contents li.show h2,
.contents li.show p,
main .contents li.show img {
  transform: none;
  opacity: 1;
}

main tfooter button.show {
  opacity: 1;
  transform: none;
}

.contents li:not(:first-of-type) {
  margin-top: 200px;
}

.contents li:nth-of-type(odd) .contentstext {
  right: 0;
}

.contents li:nth-of-type(even) .contentstext {
align-items: flex-start;
}

.contents li:nth-of-type(odd) img {
  transform: translate(-20px, 20px);
}

.contents li:nth-of-type(even) img {
  margin-left: auto;
  transform: translate(20px, 20px);
}

.contentstext {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 40px;
}

.contents h2 {
  font-size: 50px;
  font-weight: bold;
  white-space: nowrap;
  background-color: rgba(20, 20, 20, .8);
  padding: 10px 20px;
  line-height: 1.4;
  letter-spacing: .05em; //横方向の文字の感覚開ける
  border-radius: 5px; //角を丸くする
  opacity: 0; //最初は表示しない
  transform: translateY(20px);
  transition: 1s;
}

.contents p {
  line-height: 1.6;
  background-color: #555;
  font-size: 14px;
  max-width: 340px;
  padding: 15px;
  margin-top: 30px;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(20px);
  transition: 1s;
}

.contents img {
  width: 65%;
  display: block;
  border-radius: 5px;
  opacity: 0;
  transition: 1s .5s;
}
//top画面

.arrow {
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-color:  transparent transparent #fff #fff;
  transform: rotate(-45deg);
}
